

<!-- <div class="container"> -->

  <div class="container homepage screen" id="homepage">
    <div class="row">
      <div class="col-md-6 box-blue">
        <h2>Hello, my name is Aljosa Musikic.</h2>
        <br>
        <h3>Welcome to my website.</h3>
      </div>
      <div class="col-md-6 box-white">
        <div class="my-photo">
          <div class="gradient">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container about_me screen" id="about_me">
    <h2>About me</h2>
    <div class="cards-wrapper row " >
      <!-- <div class="card-wrapper col"> -->
      <!-- </div> -->
          <div class="card-wrapper col-md-4">
            <div class="card-1 card-object card-object-hf">
              <a class="face front" href="#">
                <div class="title-wrapper">
                  <div class="title">Education</div>
                  <div class="subtitle">Academic Background</div>
                </div>
              </a>
              <div class="face back">
                <div class="container cont-margin">
                  <div class="row">
                    <div class="col col-md-12 bold-row">Coder Factory Academy</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Diploma in Software Development</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Sydney, Australia</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12 bold-row">University of Turin</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">M.A. in International Management</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Turin, Italy</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12 bold-row">Univeristy of Florence</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">B.A. in Tourism Management</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Florence, Italy</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
        <!-- <div class="col-md-4"> -->
          <div class="card-wrapper col-md-4">
            <div class="card-2 card-object card-object-hf">
              <a class="face front" href="#">
                <div class="title-wrapper">
                  <div class="title">Work</div>
                  <div class="subtitle">Professional Experience</div>
                </div>
              </a>
              <div class="face back">
                <div class="container cont-margin">
                  <div class="row">
                    <div class="col col-md-12 bold-row">People & Projects Limited</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Associate <br> May 2013 - Jan 2017</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Hong Kong</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12 bold-row">Creatnet Services Limited</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Marketing Intern <br> Sep 2012 - Dec 2012</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Noida, India</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
        <!-- <div class="col-md-4"> -->
          <div class="card-wrapper col-md-4">
            <div class="card-3 card-object card-object-hf">
              <a class="face front" href="#">
                <div class="title-wrapper">
                  <div class="title">Interests</div>
                  <div class="subtitle">Free time & Hobbies</div>
                </div>
              </a>
              <div class="face back">
                <div class="container cont-margin">
                  <div class="row">
                    <div class="col col-md-12">Tasting new food</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Making short videos</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Traveling</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">Reading</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>



  <div class="container skills screen" id="skills">
    <h2>My Skills</h2>

    <div class="row skills-row">
      <div class="col-md-4 ninja"><img src="<%= asset_path 'ninja-ruby.png' %>" height="220px"></div>
      <div class="col-md-4 ninja"><img src="<%= asset_path 'ninja-css.png' %>" height="220px"></div>
      <div class="col-md-4 ninja"><img src="<%= asset_path 'ninja-rails.png' %>" height="220px"></div>
    </div>
  </div>


  <div class="container projects screen" id="projects">
    <h2>Projects</h2>
    <div class="flex-container">
      <div class="flex-item">
        <div class="small-box">
          <img src="<%= asset_path 'temperature-right.gif' %>" width="280px" height="250px">
        </div>
        <div class="subtitle" id="subtitle">
          <a href="https://github.com/Al-josh/temperature-saver" target="_blank">Temperature App</a>
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box" id="atm-sym">
          <img src="http://www.free-icons-download.net/images/atm-automated-teller-machine-icon-90057.png" height="200px">
        </div>
        <div class="subtitle" id="subtitle">
          <a href="https://github.com/Al-josh/bank-app" target="_blank">Bank App</a>
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box">
          FizzBuzz
        </div>
        <div class="subtitle" id="subtitle">
          <a href="https://github.com/Al-josh/fizz-buzz" target="_blank">Group App</a>
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box">
          <img src="<%= asset_path 'css-project.png' %>" width="280px" height="250px">
        </div>
        <div class="subtitle" id="subtitle">
          <a href="http://codepen.io/al-josh/full/MpbPOK/" target="_blank">My First CSS Attempt</a>
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box">
          <img src="<%= asset_path 'questionnaire.png' %>" height="200px">
        </div>
        <div class="subtitle" id="subtitle">
          <a href="https://github.com/Al-josh/questionnaire" target="_blank">Personal Questions App</a>
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box">
          6
        </div>
        <div class="subtitle" id="subtitle">
          Coming soon
        </div>
      </div>
    </div>
  </div>

  <div class="container contact screen" id="contact">
    <h2>Contact</h2>

  </div>

<!-- </div> -->
