  <div class="gradient" id="homepage">
    <div class="parallax">
      <div class="content">
        <h1>Hello, my name is Aljosa. <br> Welcome to my website!</h1>
      </div>
    </div>
  </div>

  <div class="container about_me screen" id="about_me">
    <h2>About me</h2>
    <div class="text_about">
      <p> I am an aspiring full-stack developer and I want to be great at it.<br>I was born in a small town, gained my adulthood in big cities across 5 counties and 3 continents.<br>
  After working as an account manager in Hong Kong for four years, I moved to Sydney where I am currently studying at Coder Factory Academy.<br><br>
  Flip the cards below for more details.
      </p>
    </div>
    <div class="cards-wrapper row">
      <div class="card-wrapper col-xs-8 col-md-4">
        <div class="card-1 card-object card-object-hf">
          <a class="face front" href="#">
            <div class="title-wrapper">
              <div class="title">Education</div>
              <div class="subtitle">Academic Background</div>
            </div>
          </a>
          <div class="face back">
            <div class="cont-margin">
              <div class="row">
                <div class="col col-md-12 bold-row">Coder Factory Academy</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Diploma in Software Development</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Sydney, Australia</div>
              </div>
              <div class="row">
                <div class="col col-md-12 bold-row">University of Turin</div>
              </div>
                <div class="row">
                  <div class="col col-md-12">M.A. in International Management</div>
                </div>
                <div class="row">
                  <div class="col col-md-12">Turin, Italy</div>
                </div>
                <div class="row">
                  <div class="col col-md-12 bold-row">Univeristy of Florence</div>
                </div>
                <div class="row">
                  <div class="col col-md-12">B.A. in Tourism Management</div>
                </div>
                <div class="row">
                  <div class="col col-md-12">Florence, Italy</div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-xs-8 col-md-4">
        <div class="card-2 card-object card-object-hf">
          <a class="face front" href="#">
            <div class="title-wrapper">
              <div class="title">Work</div>
              <div class="subtitle">Professional Experience</div>
            </div>
          </a>
          <div class="face back">
            <div class="cont-margin">
              <div class="row">
                <div class="col col-md-12 bold-row">People & Projects Limited</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Associate <br> May 2013 - Jan 2017</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Hong Kong</div>
              </div>
              <div class="row">
                <div class="col col-md-12 bold-row">Creatnet Services Limited</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Marketing Intern <br> Sep 2012 - Dec 2012</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Noida, India</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-xs-8 col-md-4">
        <div class="card-3 card-object card-object-hf">
          <a class="face front" href="#">
            <div class="title-wrapper">
              <div class="title">Interests</div>
              <div class="subtitle">Free time & Hobbies</div>
            </div>
          </a>
          <div class="face back">
            <div class="cont-margin">
              <div class="row">
                <div class="col col-md-12">Tasting new food</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Making short videos</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Traveling</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Reading</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Binge eating Chocolate</div>
              </div>
              <div class="row">
                <div class="col col-md-12">Hiking</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax2" id="skills">
    <div class="row row-skills">
      <div class="col-md-12 ninja">Skills</div>
    </div>
    <div class="row skills-row">
      <div class="col-sm-3 col-md-2 ninja"></div>
      <div class="col-sm-1 col-md-1 ninja"></div>
      <div class="col-sm-2 col-md-2 ninja" id="ninja-left"><img src="<%= asset_path 'ninja-ruby.png' %>" height="220px"></div>
      <div class="col-sm-2 col-md-2 ninja"><img src="<%= asset_path 'ninja-css.png' %>" height="220px"></div>
      <div class="col-sm-2 col-md-2 ninja" id="ninja-right"><img src="<%= asset_path 'ninja-rails.png' %>" height="220px"></div>
    </div>
  </div>




  <div class="container projects" id="projects">
    <h2>Projects</h2>
    <div class="flex-container">
      <div class="flex-item">
        <div class="small-box">
          <a href="https://github.com/Al-josh/temperature-saver" target="_blank">
            <img src="<%= asset_path 'temperature-right.gif' %>" width="280px" height="250px">
            </a>
        </div>
        <div class="subtitle" id="subtitle">
          Temperature App
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box" id="atm-sym">
          <a href="https://github.com/Al-josh/bank-app" target="_blank">
            <img src="http://www.free-icons-download.net/images/atm-automated-teller-machine-icon-90057.png" height="200px">
          </a>
        </div>
        <div class="subtitle" id="subtitle">
          Bank App
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box">
          <a href="https://github.com/Al-josh/fizz-buzz" target="_blank">
          FizzBuzz
        </a>
        </div>
        <div class="subtitle" id="subtitle">
          Group Word Game
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box">
          <a href="http://codepen.io/al-josh/full/MpbPOK/" target="_blank">
          <img src="<%= asset_path 'css-project.png' %>" width="280px" height="250px">
          </a>
        </div>
        <div class="subtitle" id="subtitle">
          My First CSS Attempt
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box">
          <a href="https://github.com/Al-josh/questionnaire" target="_blank">
          <img src="<%= asset_path 'questionnaire.png' %>" height="200px">
        </a>
        </div>
        <div class="subtitle" id="subtitle">
          Personal Questions App
        </div>
      </div>
      <div class="flex-item">
        <div class="small-box">
          6
        </div>
        <div class="subtitle" id="subtitle">
          Coming soon
        </div>
      </div>
    </div>
  </div>

  <div class="contact" id="contact">
    <h2>Contact</h2>
    <div class="container">
      <div class="box1">
        <div class="contact-box">
          <img src="<%= asset_path 'e-mail.png' %>" height="100px">
        </div>
        <div class="contact-text">
          aljosa.musikic@gmail.com
        </div>
      </div>
      <div class="box1">
        <div class="contact-box">
          <img src="<%= asset_path 'github.png' %>" height="100px">
        </div>
        <div class="contact-text">
          Please visit my <a href="https://github.com/Al-josh" target="_blank">GitHub profile </a>
        </div>
      </div>
      <div class="box1">
        <div class="contact-box">
          <img src="<%= asset_path 'linkedin.png' %>" height="100px">
        </div>
        <div class="contact-text">
          Please visit my <a href="https://www.linkedin.com/in/aljosa-musikic-81b9b82/" target="_blank">LinkedIn profile </a>
        </div>
      </div>
    </div>
  </div>
